.pos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 45px;
  justify-content: space-between;

  @media (min-width: 700px) {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }

  div {
    align-self: end;

    h2 {
      font-weight: 800;
      font-size: 34px;
      line-height: 45px;
      background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-top: 10px;
      margin-bottom: 23px;
    }

    a {
        display: inline-block;
      margin-top: 31px;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #ff8a71;
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: #ff7455;
        }
      }
    }
  }
}
